﻿<div class="modal-header">
    <h3 class="modal-title">{{confirmController.title}}</h3>
</div>
<div class="modal-body">
    <p>{{confirmController.message}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="confirmController.ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="confirmController.cancel()">Cancel</button>
</div>