﻿<div class="modal-header">
    <h3 class="modal-title">{{editTodoController.isEditing ? 'Edit todo' : 'Add todo'}}</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" ng-model="editTodoController.title" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="3" class="form-control" id="description" placeholder="Description" ng-model="editTodoController.description"></textarea>
        </div>
        <div class="form-group" ng-show="editTodoController.isEditing">
            <label for="status">Status</label>
           <select class="form-control" name="status" id="status" ng-model="editTodoController.status">
              <option value="0">In Progress</option>
              <option value="1">Done</option>
           </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="editTodoController.ok()">{{editTodoController.isEditing ? 'Save' : 'Add'}} <i class="fa" ng-class="{'fa-plus': !editTodoController.isEditing, 'fa-floppy-o': editTodoController.isEditing}"></i></button>
    <button class="btn btn-default" type="button" ng-click="editTodoController.cancel()">Cancel</button>
</div>