﻿<p><h2>My TODOs:</h2></p>
<nav>
    <ul class="nav nav-pills" ng-init="items = [{status: null, label: 'All'}, {status: 'inprogress', label: 'In Progress'}, {status: 'done', label: 'Done'}]">
        <li role="presentation" ng-repeat="item in items" ng-class="{active: item.status == headerController.status}">
            <a ui-sref="todo.index({status: item.status})">{{item.label}}</a>
        </li>
    </ul>
</nav>