﻿<form class="top-buffer">
    <div class="pull-left">
        <input class="form-control" type="text" placeholder="Search" ng-model="searchTerm" />
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="todoController.add()">Add <i class="fa fa-plus"></i></button>
    </div>
</form>
<table class="table todo-table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="todo in todoController.getTodos() | filter:searchTerm">
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.status ? 'Done' : 'In Progress'}}</td>
            <td><span class="todo-actions"><i class="fa fa-pencil" uib-tooltip="Edit item" ng-click="todoController.edit(todo)"></i> <i class="fa fa-times" uib-tooltip="Remove item" todo-confirm confirm-title="Confirm" confirm-message="Are you sure?" confirm-callback="todoController.remove(todo)"></i></span></td>
        </tr>
    </tbody>
</table>