﻿.todo-app {
    nav {
        font-size: large
    }

    .todo-table {
        margin: 20px 0
    }

    .todo-actions {
        i {
            cursor: pointer
        }
    }

    .top-buffer {
        margin: 10px 0;
    }
}
